<header>
    <form action="/logout">
        <button>logout</button>
    </form>
    <form action="/deck">

    </form>
    <form action="/carrello">

    </form>
</header>



{% if carta|length > 0 %}
<ul class="list-group">
    <!-- Iterazione su ogni elemento della lista -->
    {% for elemento in carta %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
            <h2>{{ elemento.nome }}</h2>
            <p>{{ elemento.descrizione }}</p>
            <p>Prezzo: €{{ elemento.prezzo }}</p>
        </div>
        {% if elemento.foto %}
        <div>
            <img src="{{ elemento.foto }}" alt="{{ elemento.nome }}" style="max-width: 100px; max-height: 100px;">
        </div>
        {% endif %}
        <!--DA FARE!!!!!!-->
        <button>aggiungi al carrello</button>
    </li>
    {% endfor %}
</ul>
{% else %}
<p><b>Non ci sono carte!</b></p>
{% endif %}